.git
.gitignore
.gitattributes
.idea
.vscode
.DS_Store

.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ipynb_checkpoints/

.env
.env.local

mlruns/
mlflow.db*
mlartifacts/
catboost_info/

notebooks/

Dockerfile
.dockerignore
README.md