.DS_Store
.env
.env.local
.venv/
__pycache__/
.ipynb_checkpoints/
catboost_info/
mlruns/
mlflow.db*
mlartifacts/
/.idea


# === Frontend (Next.js) ===
node_modules/
/.pnp
.pnp.*
.yarn/*

.next/
out/
/build

/coverage
*.tsbuildinfo
next-env.d.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.vercel

# === Misc ===
venv/
.pytest_cache/
